@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Contract Monthly Claim System</h1>

<ul>
    <li><a asp-controller="Lecturer" asp-action="Index">Lecturer - View and Submit Claims</a></li>
    <li><a asp-controller="ProgramCoordinator" asp-action="Index">Program Coordinator - Approve Claims</a></li>
    <li><a asp-controller="AcademicManager" asp-action="Index">Academic Manager - Final Approval</a></li>
    <li><a asp-controller="HumanResource" asp-action="Index">Human Resource - Process Claims</a></li>
</ul>